{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {lager, "3.2.1"}
]}.

{relx, [
  {release, {sctp_srv, "0.1.0"}, [
    sctp_srv
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, false},
  {include_erts, false},

  {extended_start_script, true}]
}.

{plugins, [
  rebar3_run
]}.
