[
  {lager, [
    {handlers, [
      {lager_console_backend, [
        info,
        {lager_default_formatter, [time, " ", color, severity, " ", {module, [module], ""}, {line, [".", line, " "], ""}, "\e[0m", message, "\n"]}
      ]}
    ]},
    {extra_sinks, [{data_lager_event, [{handlers, [{lager_file_backend, [{file, "/dev/null"}, {level, debug}]}]}]}]},
    {colored, true},
    {error_logger_hwm, 5000}
  ]},
  {sctp_srv, []}
].
